{{ define "main" }}

{{ partial "navigation.html" . }}
{{"<!-- Start Events Section -->" | safeHTML}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="events" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInDown">
                    <h2> {{ with $data.blog.heading }} {{ . }} {{ end }} <span class="color"> {{ with $data.blog.headingSpan }} {{ . }} {{ end }} </span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-filter">
                    <button type="button" data-filter="all">All</button>
                    {{ range .Site.Data.portfolio.filterList }}
                    <button type="button" data-filter=".{{ .filterType }}">{{ .filterTitle }}</button>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="row portfolio-items-wrapper">
            {{"<!-- portfolio item -->" | safeHTML}}
            {{ $events:= where ( where .Data.Pages "Section" "events" ) ".Params.old" true }}
            {{ range ($events.ByParam "startDate").Reverse  }}
            <div class="mix col-lg-4 {{ .Params.types }}">
                <div class="portfolio-block" onClick="window.open( '{{ .Permalink | absURL }}','_top' ); return false;">
                    <img class="img-fluid" src="{{ .Params.image | absURL}}" alt="work-image">
                    <div class="centeredText">
                        <h3>{{ .Params.title }}</h3> <h5>W{{ .Params.week }}: {{ dateFormat "Mon, 02 Jan" .Params.startDate }}</h5>
                        <ul class= "hidden" type="disc"> 
                            <li>Time: {{ dateFormat "15:04" .Params.startDate }} - {{ dateFormat "15:04" .Params.endDate }}</li>
                            <li>Place: {{ .Params.place }} </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /events -->" | safeHTML}}

{{ end }}
